.tab-control {
  display: flex;
  height: 44px;
}
.btn-item {
  flex: 1;
  text-align: center;
}

.btn-item span {
  padding: 5px 8px;
}
.btn-item.active {
  color: red;
}

.btn-item.active span {
  border-bottom: 3px solid red;
} 